.canvas {
  position: relative;
  cursor: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.canvas #aim {
  position: absolute;
  left: 30px;
  top: 30px;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: yellow;
  pointer-events: none;
}
